body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/326/623/non_2x/black-golden-royal-luxury-background-landing-page-free-vector.jpg);
  background-size: cover;
}

.header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
}
.header__title {
  color: yellow;
  font-family: "Asap Condensed", sans-serif;
  font-size: 18px;
}

.talleres {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.talleres > a {
  color: white;
  font-family: "Asap Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 15px;
}

.talleres > a:hover {
  color: yellow;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  text-decoration: underline;
  transform: scale(1.3);
}
