body {
  background: url(https://wallpaperaccess.com/full/1836491.jpg);
  background-size: cover;
}

.header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
}
.header__title {
  color: blue;
  font-family: "Asap Condensed", sans-serif;
  font-size: 18px;
}

.talleres {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.talleres > h2 {
  margin-top: 5px;
  margin-bottom: 25px;
  color: white;
  font-family: "Asap Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.talleres > h2 > a {
  color: white;
  text-decoration: none;
}

.talleres > h2 > a:hover {
  text-decoration: underline;
  color: yellow;
}

.talleres > a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  color: white;
  font-family: "Asap Condensed", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 15px;
  margin: 20px;
}

.talleres > a:hover {
  color: yellow;
  background-color: black;
  border-radius: 25px;
  text-decoration: underline;
  transform: scale(1.3);
}

.footer {
  align-items: center; /*centramos verticalmente*/
  display: flex;
  margin-left: 20px;
}
.footer a {
  color: yellow;
  cursor: pointer; /*el cursor flecha cambia a mano*/
  font-size: 16px;
  font-family: "Asap Condensed", sans-serif;
  font-weight: bold; /*negritas*/
  padding-left: 30px;
  text-decoration: none; /*le quitamos el subrayado*/
}
.footer a:hover {
  text-decoration: underline; /*al hacer hover sale el subrayado*/
  color: white;
}
